@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'summer';
  src: url('/fonts/HSYeoleum2.0.ttf');
}
@font-face {
  font-family: 'kbiz';
  src: url('/fonts/KBIZ.ttf');
}
@font-face {
  font-family: 'kbizH';
  src: url('/fonts/KBIZ_H.ttf');
}
@font-face {
  font-family: 'kbizB';
  src: url('/fonts/KBIZ_B.ttf');
}
@font-face {
  font-family: 'kbizR';
  src: url('/fonts/KBIZ_R.ttf');
}

body::-webkit-scrollbar {
  display: none;
}

#gptBox::-webkit-scrollbar {
  /* position: absolute; */
  width: 8px;
}

#gptBox::-webkit-scrollbar-thumb {
  height: 30%;
  background: #217af4;

  border-radius: 10px;
}
#movieBox::-webkit-scrollbar {
  /* position: absolute; */
  width: 8px;
}

#movieBox::-webkit-scrollbar-thumb {
  height: 30%;
  background: #217af4;

  border-radius: 10px;
}
