@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'summer';
  src: url('./fonts/HSYeoleum2.0.ttf');
}
@font-face {
  font-family: 'kbiz';
  src: url('./fonts/KBIZ.ttf');
}
@font-face {
  font-family: 'kbizH';
  src: url('./fonts/KBIZ_H.ttf');
}
@font-face {
  font-family: 'kbizB';
  src: url('./fonts/KBIZ_B.ttf');
}
